<html>

<head>
    <script src="./Vue/vue.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="./Vue/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>

    <div id="app">
        <my-tree :register="register_question" :Questions="questions"></my-tree>

        <div v-for="(q, i) in Q_map">
            <div :ref="`card-${i}`">
                {{q.question}}
            </div>
        </div>
    </div>


    <script type="text/x-template" id="my-tree">

    <ul class="my-tree">
        <div v-for="Q in Questions">
                {{register(Q)}}
            <p>{{Q}}</p><br>
        </div>
    </ul>

</script>


    <script>

        Vue.component('my-tree', {
            template: '#my-tree',
            props: ['Questions', 'register'],
            data() {
            },
            computed: {},
            methods: {
            }
        });

        var app = new Vue({
            el: "#app",

            data() {
                return {
                    url: "/static/questions.json",
                    form: {},
                    questions: [],
                    Q_map: {}
                }
            },

            mounted() {
                axios
                    .get(this.url)
                    .then(response => (this.questions = response.data.data))
            },

            methods: {
                register_question(Q) {
                    this.Q_map[Q.id] = Q;
                    this.$forceUpdate();
                }
            },
            watch: {

            }
        });
    </script>
</body>

</html>