<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <link rel="stylesheet" href="dist/css/phonon.css" />
        <title>App</title>
    </head>
    <body>

        <!-- Panel tags go here -->

        <!-- Side Panel tags go here -->

        <!-- Notification tags go here -->

        <!-- Dialog tags go here -->

        <!-- Popover tags go here -->

        <!-- the home page is the default one. This page does not require to call its content because we define on its tag.-->
        <home data-page="true">

            <header class="header-bar">
                <div class="center">
                    <h1 class="title">Phonon Example</h1>
                </div>
            </header>
            <div class="content">

                <ul class="list">
                    <li><a class="padded-list" href="./components/accordion-example/index.html">Accordion</a></li>
                    <li><a class="padded-list" href="./components/autocomplete-example/index.html">Autocomplete</a></li>
                    <li><a class="padded-list" href="./components/dialogs-example/index.html">Dialogs</a></li>
                    <li><a class="padded-list" href="./components/floating-actions-example/index.html">Floating action</a></li>
                    <li><a class="padded-list" href="./components/forms-example/index.html">Forms</a></li>
                    <li><a class="padded-list" href="./components/grid-example/index.html">Grid</a></li>
                    <li><a class="padded-list" href="./components/i18n-example/index.html">i18n</a></li>
                    <li><a class="padded-list" href="./components/lists-example/index.html">List</a></li>
                    <li><a class="padded-list" href="./components/notifications-example/index.html">Notification</a></li>
                    <li><a class="padded-list" href="./components/panels-example/index.html">Panels</a></li>
                    <li><a class="padded-list" href="./components/popovers-example/index.html">Popover</a></li>
                    <li><a class="padded-list" href="./components/preloaders-example/index.html">Preloaders</a></li>
                    <li><a class="padded-list" href="./components/side-panels-example/index.html">Side Panels</a></li>
                    <li><a class="padded-list" href="./components/tables-example/index.html">Tables</a></li>
                    <li><a class="padded-list" href="./components/tabs-example/index.html">Tabs</a></li>
                </ul>

            </div>
        </home>

    </body>
</html>
